.chat-input-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5em;
  background: #fff;
  box-shadow: 0px 0px 6px #C7C9CA;
  padding: 1.5em;

  .chat-input-container {
    input {
      width: 40%;
      max-width: 34em;
      border-radius: 3px;
      border: none;
      box-shadow: inset 0px 0px 2px #95979b;
      padding: 0.7em;
      margin-bottom: 1em;
      margin-right: 1em;
      font-weight: 100;
      border: 1px solid #fff;

      &:focus {
        outline: none;
        border: 1px solid #b6d2f3;
      }
    }

    button {
      color: #4A90E2;
      background: #fff;
      border: none;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

