.name-and-time-online-container {
  padding: 2em;

  h2, p {
    color: #fff;
  }

  h2 {
    margin: 0em;
    font-size: 1.25em;
    display: inline-block;
  }

  .active-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #4FB74C;
    display: inline-block;
    margin-left: 0.4em;
    margin-bottom: 0.1em;
  }

  p {
    font-size: 0.9em;
    margin-top: 0.5em;
  }

  div {
    color: #DCDDDE;
    font-size: 0.8em;

    &:hover {
      cursor: pointer;
    }
  }
}