.message-container {
  max-width: 50%;
  clear: both;
  float: left;

  .message-bubble {
    display: inline-block;
    background: #fff;
    padding: 0.5em 0.9em 0.5em 0.9em;
    border-radius: 20px;
    font-size: 0.8em;
    margin-bottom: 0.4em;
    margin-top: 1.1em;
    line-height: 1.5em;
  }

  .red {
    background: #117CD9;
    color: #fff;
  }

  .message-name {
    font-size: 0.8em;
    color: #666666;
  }

  .hide {
    display: none;
  }
}

.right {
  float: right;
}